#navbar {
    background-color: #5e4ac7;    
}

#navbrand {
    color: #f6a73f;
    font-family: 'Tempus Sans ITC';
    font-size: 25px;
    margin-left:15px;
    margin-right: 35px;
}

#navbrand:hover {
    color: white;
}

.navlink {
    margin-right: 20px;
    margin-top: 1px;
}

.link:hover{
   
    color: white;
}

.link {
  color: #74d7ff;  
  font-family: 'Calibri';
  font-size: 20px;
  
 }

 #logoutbutton {
  background: transparent; 
  border: none;
  font-family: 'Calibri';  
  font-size: 20px;
 
 }

 #logoutbutton:hover{
     color: #f6a73f;
 }

 #logoutnav {
     margin-right: 40px;
 }


 