.auth {
    /* The image used */
    background-image: 'url("https://cdn.pixabay.com/photo/2016/02/19/10/59/art-1209519_960_720.jpg")';

    /* Full height */
    height: 100%; 

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}